body {
  background-color: rgb(160, 160, 160);
}
.loader {
  top: 50%;
  left: 50%;
  width: 220px;
  height: 150px;
  background-color: rgb(16, 12, 63);
  margin-top: -75px;
  margin-left: -110px;
  position: absolute;
  border-radius: 10px;
  z-index: 7;
  animation: infinite 3s rel;
}
.loader:nth-last-child(2) {
  background-color: rgb(33, 47, 114);
  width: 210px;
  height: 135px;
  border-radius: 10px;
  z-index: 10;
  margin-top: -68px;
  margin-left: -105px;
  animation: rell 3s infinite;
}
.loader:nth-last-child(3) {
  background-color: rgb(84, 114, 179);
  z-index: 13;
  width: 40px;
  height: 25px;
  border-radius: 0 0 5px 5px;
  margin-top: 75px;
  margin-left: -20px;
  animation: 3s relll infinite;
}
@keyframes rel {
  0%,
  10% {
    width: 220px;
    height: 150px;
    margin-top: -75px;
    margin-left: -110px;
  }
  30%,
  40% {
    width: 100px;
    height: 150px;
    margin-top: -75px;
    margin-left: -50px;
    border-radius: 7px;
  }
  60%,
  70% {
    width: 60px;
    height: 120px;
    margin-top: -55px;
    margin-left: -30px;
    border-radius: 9px;
  }
  95%,
  99% {
    width: 220px;
    height: 150px;
    margin-top: -75px;
    margin-left: -110px;
  }
}

@keyframes rell {
  0%,
  10% {
    width: 210px;
    height: 135px;
    margin-top: -68px;
    margin-left: -105px;
  }
  30%,
  40% {
    width: 90px;
    height: 115px;
    margin-top: -60px;
    margin-left: -45px;
    border-radius: 2px;
  }
  60%,
  70% {
    width: 55px;
    height: 100px;
    margin-top: -45px;
    margin-left: -28px;
    border-radius: 0px;
  }
  95%,
  99% {
    width: 210px;
    height: 135px;
    margin-top: -68px;
    margin-left: -105px;
  }
}
@keyframes relll {
  0%,
  10% {
    width: 40px;
    height: 25px;
    border-radius: 0 0 5px 5px;
    margin-top: 75px;
    margin-left: -20px;
  }
  30%,
  40% {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 58px;
    margin-left: -8px;
  }
  60%,
  70% {
    width: 25px;
    height: 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: -53px;
    margin-left: -12px;
  }
  95%,
  99% {
    width: 40px;
    height: 25px;
    border-radius: 0 0 5px 5px;
    margin-top: 75px;
    margin-left: -20px;
  }
}
